<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="description" content="A High quality and rich functions, friendly APIs, free and flexible UI Toolkit based on Vue.js.">
<title>wxpay-ui</title>
<link rel="shortcut icon" href="https://wx.gtimg.com/dev/img/wepaylogo.ico">

</head>
<body>
    <div class="index">
       <div id="app"></div>
    </div>
</body>
</html>
